[user]
	name = chance garcia
	email = develop@chancegarcia.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	excludesfile = /Users/chance/.gitexclude
	autocrlf = input
	editor = vi
[commit]
	template = /Users/chance/.gitcommit.template
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[alias]
	stash-unapply = !git stash show -p | git apply -R
